{% extends 'base.html' %}

{% block content %}
<!-- Main Banner -->
<section class="relative">
  <img alt="Imagen de autos en venta en un concesionario" class="w-full max-h-screen object-cover" src="{{ url_for('static', filename='recursos/banner.webp') }}"/>
  <div class="absolute inset-0 bg-black bg-opacity-50 flex flex-col justify-center items-center text-white">
   <h1 class="text-4xl md:text-6xl font-bold mb-4">
    Bienvenido a Nuestra Concesionaria AutosPrime
   </h1>
   <a class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" href="/inventario">
    Ver Inventario
   </a>
  </div>
 </section>
 <!-- Featured Cars -->
<section class="py-12 bg-gray-100">
  <div class="container mx-auto px-4">
    <h2 class="text-3xl font-bold text-center mb-8">
      Autos Destacados
    </h2>
    
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      {% for vehicle in vehiculos %}
      <div class="bg-white p-4 rounded shadow">
        <div class="h-48 overflow-hidden mb-4">
          <img alt="Imagen de un auto" class="w-full h-full object-cover" src="{{ url_for('static', filename='images/' ~ vehicle[5] ~ '.webp') }}"/>
        </div>
        <h3 class="text-xl font-bold mb-2">
          {{ vehicle[4] }} {{ vehicle[2] }} {{ vehicle[1] }}
        </h3>
        <p class="text-lg text-blue-500 font-bold">
          ${{ vehicle[3] }}
        </p>
        <a class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4 inline-block" 
                href="{{ url_for('header.get_detalles_vehiculo', id_vehiculo=vehicle[0]) }}"
            >
          Más Detalles
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
 <!-- Customer Testimonials -->
 <section class="py-12 bg-gray-100">
  <div class="container mx-auto px-4">
   <h2 class="text-3xl font-bold text-center mb-8">
    Testimonios de Clientes
   </h2>
   <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
    <div class="bg-white p-4 rounded shadow">
     <p class="text-gray-700 mb-4">
      "Excelente servicio y atención. Compré mi auto aquí y no podría estar más feliz."
     </p>
     <p class="font-bold">
      - Juan Pérez
     </p>
    </div>
    <div class="bg-white p-4 rounded shadow">
     <p class="text-gray-700 mb-4">
      "Gran variedad de autos y precios competitivos. Muy recomendable."
     </p>
     <p class="font-bold">
      - María López
     </p>
    </div>
    <div class="bg-white p-4 rounded shadow">
     <p class="text-gray-700 mb-4">
      "El proceso de financiamiento fue rápido y sencillo. ¡Gracias por todo!"
     </p>
     <p class="font-bold">
      - Carlos García
     </p>
    </div>
   </div>
  </div>
 </section>
    
{% endblock %}
